* {
margin: 0;
padding:0;
box-sizing: border-box;
}

  


header{
    
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    height: 15vh;
    align-items: center;


    h1{
        border: solid rgb(254, 251, 251);
        color: rgb(18, 142, 9);
    }

    nav{
        border: solid rgb(218, 218, 218);
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #4B5563;
    
}
}

.produtosDisponiveis {
  background-color: rgb(203, 244, 230);
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;
}
.produtosDisponiveis article {
  border: solid;
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.produtosDisponiveis article img {
  width: 100%;
  height: 30vh;
  border: solid;
}
.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 600;
  border-radius: 15px;
  font-size: 1rem;
}
























//responsivo

//smartphone max: 500px;

@media(max-width: 500px){
header{
  display: flex; 
  flex-direction: column;
  height: 20vh;
}
.caixaLogo{
  border: solid;
  width: 70%;
}
nav{
  border: solid;
}
}

